/*********************************************
GENERAL
**********************************************/
body {
  background-color: NavajoWhite;
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

#page-title {
  text-align: center;
  color: #a23d0a;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 20px;
  padding: 0;
}

h3 {
  margin: 0 0 1em 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*********************************************
HEADING
**********************************************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: Roboto, sans-serif,;
  margin: 15px 0;
  font-size: 2em;
  font-weight: bold;
  line-height: 0.8em;
}
h2 {
  font-size: 1em;
  margin: -5px 0 0;
  font-weight: normal;
}
/*********************************************
NAVIGATION
**********************************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

  /*********************************************
  FOOTER
  **********************************************/
  footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top:50px;
    color: #ccc;
  }

  footer p {
    color: #a23d0a;
  }

  .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  /*********************************************
  PAGE PORTFOLIO
  **********************************************/
  #gallery {
    margin: 0;
    padding:0;
    list-style: none;
  }

  #gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
  }

  #gallery li a p {
    font-size: .8em;
    margin: 0;
    padding: 0.75em;
    color: #aaa;
  }

  #gallery li:nth-child(5n) {
  clear: left;
  }

  /*********************************************
  PAGE: ABOUT
  **********************************************/
.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 50%;
}
/*********************************************
PAGE: CONTACT
**********************************************/
    .contact-info {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0.9em;
    }

    .contact-info a {
      display: block;
      min-height: 20px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      padding: 0 0 0 30px;
      margin: 0 0 10px;
    }

    .contact-info li.phone a {
      background-image: url("../img/phone.png");
    }

    .contact-info li.mail a {
      background-image: url("../img/mail.png");
    }

/*********************************************
COLORS
**********************************************/

/* site body */
body {
  background color: #fff;
  color: #999;
}
/*********************************************
GREEN HEADER
**********************************************/
header {
  background-color: #f2671f;
  border-color: #599a68;
}

/*********************************************
NAV BAKGROUND ON MOBILE
**********************************************/
nav {
  background:#d2500c;
}
/*********************************************
LOGO TEXT
**********************************************/
h1, h2 {
  color: #fff;
}
/*********************************************
LINKS
**********************************************/
a {
  color: #a23d0a;
}
/*********************************************
NAV LINK
**********************************************/
nav a, nav a:visited {
  color: #ffff;
}
/*********************************************
SELECTED NAV LINK
**********************************************/
nav a.selected, nav a:hover {
  color: #a23d0a;
}
